body {
    font-family: Arial, sans-serif;
    background-color: burlywood;
    margin: 20px;
}

header {
    text-align: center;
    background-color: #594a36;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #dbd4d4;
    padding: 10px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

section {
    margin-top: 20px;
}

footer {
    text-align: center;
    background-color: #ddd;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}






h2 {
    color: #8b4513;
}

p {
    line-height: 1.5;
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: burlywood;
    margin-top: 20px;
}

th, td {
    border: 1px solid #8b4513;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #8b4513;
    color: #fff;
}

img {
    max-width: 200%;
    height: 200px;
    border-radius: 8px;
    margin-top: 10px;
}

